---
import BaseLayout from '@/layouts/BaseLayout'
import TitlePage from '@/components/TitlePage'
import { Image } from 'astro:assets'
import aboutUsImg from '../../public/about-us.png'
---

<BaseLayout title='About'>
	<TitlePage title='About the Weis-Bums' />
	<div class='relative flex flex-wrap min-w-full text-md text-center text-black'>
		<Image
			src={aboutUsImg}
			class='rounded-md w-full max-h-[300px] md:max-h-[500px] my-8 object-cover'
			alt='About the Weis-Bums'
		/>

		<hr />

		<div>
			<p class='text-3xl font-bold px-12'>
				We're just two wise bums, trying to get by and help you survive the streets
			</p>
			<p class='mt-8 text-lg text-left'>
				This project was started by myself (Andrew) and Lisa as a way to help make our situation
				better and to have a creative outlet during a difficult time in our life. Lisa and I have
				dealt with a lot of difficult things from the time we first met and fell in love over three
				years ago, but we feel we have a strong relationship because almost everything has been a
				struggle for us. Whether we are facing turbulence or peace, we have always remained true to
				each other and ourselves. It is rare for us to not be seen together and we feel our love has
				only grown stronger for each other since the day we met. Our strong relationship has allowed
				us to grow with each other, hit rock bottom and bounce back up together, and it will take us
				into a bright future, whatever that means for us. We have learned many things about
				ourselves, life, and surviving on the streets - and we'd like to share our knowledge and
				experiences with you so you can help yourself, a loved one, or the next homeless person you
				see standing on a corner with a sign.
			</p>
			<p class='mt-4 text-lg text-left'>
				The Weisbums brand came about when we were brainstorming names for this blog and our
				print-on-demand Shopify store. Lisa and I were walking to go panhandle like we do every day
				and brainstorming out loud when the name came to me. We were talking about my old consulting
				brand, Weismind Consulting and I had an aha moment. Weisbums came about just like Weismind
				Consulting - a play on my last name (and Lisa's future last name) and the word wise. Just
				like you'd want a wise mind consulting your precious business, you'd want wise bums giving
				you advice on how to deal with the problem of homelessness.
			</p>
			<p class='mt-4 text-lg text-left'>
				The idea for the blog came long before the idea for our brand name however. We've been
				struggling with homelessness for about 15 months now and dealing with unemployment since
				July of last year for Lisa while I have been trying to get a job since losing my cyber
				security job back in November of 2021. Losing my job is really what started the journey to
				where we are at today and we have experienced a lot of really hard times in between then and
				now. We've lost all our pets, our housing, had our jeep stolen, had all our possessions
				stolen, had to build things up from ground zero, and had to learn how to survive with no
				income - there really isn't anything we haven't faced in the last few years. We feel blessed
				however - blessed that we have each other, blessed that we have people who love us, and
				blessed that we have had so many kind people help us along in this difficult path life has
				taken on.
			</p>
			<p class='mt-4 text-lg text-left'>
				Since Lisa lost her job last year, we have really had to learn a lot of things about
				ourselves, about survival, and about being homeless. We feel very fortunate compared to many
				people who we see struggling because we know they don't always have somebody by their side
				or the ability to adapt due to their own life experiences, disabilities, or whatever it is
				that has kept them homeless. We felt that we could help those people who are newly homeless
				or struggling on the streets by sharing the knowledge that we have gained over the last 15
				months. We also saw this blog as an opportunity to capitalize on our creative abilities and
				experience, hoping that it may be a path forward to help us get into a better situation.
			</p>
			<p class='mt-4 text-lg text-left'>
				We don't expect anyone to have to give us anything to read our blog - we hope it can help as
				many people as possible. But we greatly appreciate any help and kindness that comes our way
				and ask for your help if you have the ability to. The way we look at it, you can give us
				money panhandling on the street and we can stand there and hold a sign or we can ask for
				donations to help us survive and that way we can spend our time working on productive,
				creative endeavors that can help other people. We can work on this blog that shares
				information on how to help the homeless; we can work on our Shopify store in which we plan
				on donating products to homeless individuals for every purchase you make; we can spend time
				making money and making our lives better rather than risking getting hit by a car or robbed
				by somebody who wants the cash we made flying a sign.
			</p>
			<p class='mt-4 text-lg text-left'>
				We hope that you find our blog entertaining, informative, and helpful in understanding
				homelessness better - whether it be for your own survival on the streets or for helping
				loved ones who are experiencing tough times. We've experienced people who have been really
				cruel to us and we have experienced even more people who have been really kind to us. There
				is a common misunderstanding that homeless people are just deadbeat drug addicts and
				alcoholics who don't want to do anything, so they just beg for money and stink. Our goal is
				to bridge this misunderstanding by helping homeless individuals help themselves and help
				those who are more fortunate understand how difficult it is to live on the streets and how
				they can help those in need.
			</p>
			<p class='mt-4 text-lg text-left'>
				Homelessness is a problem that we allow to happen by sheer ignorance and greed - we believe
				housing is a right and it makes us upset that there are 15 million abandoned homes in the
				United States, enough to house most of people who need a place to stay. Our society feels
				the need to be punitive to individuals who have made life decisions that got them to this
				point in their lives, not because they wanted to be homeless, but rather they made decisions
				based off their best understanding given their situation. You have no idea what anybody
				actually struggles with until you are in their shoes. Most of us struggle with mental health
				issues, crippling addictions that stem from trauma and abuse, and a lack of resources
				available to deal with the issues in our lives. Many of us aren't even who would expect to
				be homeless - we got here by the way of bad luck, trusting the wrong people, or because we
				had abusers in our lives that made it impossible for us to live normally.
			</p>
			<p class='mt-4 text-lg text-left'>
				I won't rant anymore about the problem of homelessness for now - I will do that more in the
				blog, but I want to introduce ourselves in the context of our current situation and from
				where this blog originated. If there is one thing to take away from this blog it is to be
				kind and compassionate to the people you see struggling on the street. Everybody is
				somebody's son or daughter, somebody's friend or family, and they are at the lowest point in
				their life when you see them. Think about how you would like your child, friend, or family
				member treated if they were to go through homelessness. If you take away the fact that we
				are all feeling, breathing, and suffering people, just like everyone else, then we have
				accomplished our number one priority. Any help from you is secondary to that goal as making
				an impact in the world means more to us than anything.
			</p>
			<p class='mt-4 text-lg text-left'>
				We want to thank you in advance for your help and support in sharing this project with
				others, donating your resources to help make our life better, and providing feedback to make
				this project better for everyone who touches it. I hope you enjoy reading our content,
				watching our videos, and purchasing the products we affiliate for or sell on our store. We
				enjoy every moment of working on this and are excited to bring you the creative endeavors of
				the Weisbums!
			</p>
		</div>
	</div>
</BaseLayout>
