---
import BaseLayout from '@/layouts/BaseLayout'
import TitlePage from '@/components/TitlePage'
import { Image } from 'astro:assets'
import aboutUsImg from '../../public/about-us.png'
---

<BaseLayout title='About'>
	<TitlePage title='About Us' />
	<h2 class='text-2xl text-left font-bold dark:text-slate-50 mt-2'>
		About Lisa and Andrew, creator the Street Life Digest and Weisbums brand
	</h2>

	<hr />

	<div class='relative flex flex-wrap min-w-full text-md text-center text-black'>
		<Image
			src={aboutUsImg}
			class='rounded-md w-full max-h-[300px] md:max-h-[500px] my-8 object-cover'
			alt='About us hero image'
		/>

		<hr />

		<div>
			<p class='text-3xl font-bold dark:text-slate-50 px-12'>
				We're just two wise bums, trying to get by and help you survive the streets
			</p>
			<p class='mt-8 text-lg text-left dark:text-slate-50'>
				Thank you for stopping by and checking out our little project that we have been planning and
				working on for quite some time now. You are probably on this page so you can learn a little
				bit more about us, how we got here, and why we crated this blog and are asking for your
				help!
			</p>
			<p class='mt-4 text-lg text-left dark:text-slate-50'>
				Everything started over three years ago when I first met Lisa and fell in love at first
				sight. We were both at difficult points in our lives - I was struggling with my mental
				well-being and my career during COVID and Lisa was living in hotels at the time, so I
				thought we could benefit each other by having Lisa move in. It was on the terms of
				friendship at first (although I was secretly in love already) but quickly evolved into
				something deeper and very special. We haven't missed a beat and have been in love ever since
				those first days we spent together in that old Raleigh apartment.
			</p>
			<p class='mt-4 text-lg text-left dark:text-slate-50'>
				We've always kind of felt like we have been working our way out of a tough financial
				situation since those first days together as we both made major career adjustments during
				the COVID lockdowns. I had gotten into Cyber Security and web development while Lisa had
				begun a whole new career path as an outreach worker for the North Carolina Harm Reduction
				Coalition. Things started to take a downturn for us when I lost my cbyer security job
				shortly before Thanksgiving of 2021 and then the rental assistance program we were a part of
				abruptly stopped in the Spring of 2022, causing us to be evicted from our first apartment
				and we quickly had to move into a new apartment that we really could never afford.
			</p>
			<h2 class='text-2xl text-left font-bold dark:text-slate-50 mt-2'>
				Tough Times on the Streets Begin
			</h2>
			<p class='mt-4 text-lg text-left dark:text-slate-50'>
				We lost our second apartment in January of 2023, even though I had gotten a web development
				project and earned enough money to pay off the past due rent we owed to our property
				managers - they just kept finding ways to raise the bill so they could push us out the door.
				We have struggled with being on the streets ever since the day we got evicted and have
				experienced more hardship than we ever knew possible. We've lost our two cats, our dog, had
				our Jeep stolen, lost all our personal possessions, struggled to find work, experienced
				hunger and sickness on the streets, and been treated poorly for being homeless. There really
				isn't anything we haven't experienced at this point in our 15 months on the streets.
			</p>
			<p class='mt-4 text-lg text-left dark:text-slate-50'>
				Since Lisa lost her job in July of 2023, we have both really struggled to survive - we
				really get by on a day-to-day basis by panhandling, placing our personal survival on the
				hopes that the public will be kind enough to help us out. Luckily for us, we have been able
				to make it by due to the amazing kindness of the people in the Durham and Chapel Hill areas.
				We are so grateful for every one of you who have helped us out with a meal, a few bucks
				(sometimes a hundred!), and your kind prayers. The power of kindness has overpowered the
				verbal abuse and poor treatment we have received from others and it is what keeps us going
				each day as we strive to get better. We have been looking for work non-stop, but
				unfortunately many businesses don't want to hire you when you can't shower very often and
				when they see you out in public holding a sign.
			</p>
			<h2 class='text-2xl text-left font-bold dark:text-slate-50 mt-2'>The Why Behind This Blog</h2>
			<p class='mt-4 text-lg text-left dark:text-slate-50'>
				One of the purposes of creating this blog is to put effort into something tangible for
				people to see that we are trying to make our lives better and hopefully can earn your
				donations for something a little more meaningful than us just holding signs and asking for
				money. We hope that we can replace panhandling with this creative outlet and can afford to
				put a roof over our heads as we are really going through a difficult time right now with
				summer around the corner and our difficulty in finding gainful employment. Panhandling is
				dangerous, people harass us, and we feel more empowered by creating something that you can
				see and share with others. Think of your donation as a way to help us not get hit by cars
				and annoy you with our stupid cardboard signs.
			</p>
			<p class='mt-4 text-lg text-left dark:text-slate-50'>
				The higher purpose of this blog however, is to show you that homeless people are capable of
				doing something more than just holding a sign. We want to show you that we could be your son
				or daughter and that we have real life experiences just like you. I don't think many people
				realize that they are one or two life events from being in a similar situation - I never
				thought that I could ever be homeless given my education, the family I grew up with, and
				work history, but I haven't been able to find a job for a couple years and it has seemed an
				impossible hill to climb out of. Anybody can hit rock bottom the way we have and we hope
				that our experience can be beneficial to you if you are currently homeless or have a loved
				one in your life that you don't know how to help out.
			</p>
			<h2 class='text-2xl text-left font-bold dark:text-slate-50 mt-2'>More About Homelessness</h2>
			<p class='mt-4 text-lg text-left dark:text-slate-50'>
				Homelessness is a bigger problem than just a person not having a place to live, not wanting
				to work, or being mentally unstable or addicted to drugs. It is a systemic issue that exists
				because we don't want to choose easy solutions to the problem. There are about <a
					href='https://usafacts.org/articles/how-many-vacant-homes-are-there-in-the-us/'
					>15.1 million abandoned homes in the United States</a
				> and according to <a
					href='https://www.lotuscampaign.org/the-challenge?gad_source=1&gclid=Cj0KCQjwhtWvBhD9ARIsAOP0Gog6l_Sb5GwE_PvnJk5Woal91XHw6r9XfIE_8Xdo9LUPFXZFt45qJYoaAgJbEALw_wcB'
					>this estimate, approximately 653,104 homeless individuals on any given night in 2023</a
				>. While it is important for people to be motivated to make their lives better and it might
				not seem fair to just give housing to one person, while others have to work for it, there is
				a much more simple solution to this widespread problem than we really even believe.
			</p>
			<p class='mt-4 text-lg text-left dark:text-slate-50'>
				We don't believe you just have to give every person a new home, but we believe housing is a
				human right. Our current living situation is horrific - rats climb over our clothes, we are
				exposed to the elements, and we could be attacked at any time during the night when we
				sleep. So many others like us have to suffer every day because we choose to ignore the
				problem or approach it the wrong way - we often place the responsibility of taking care of
				the homeless in organizations that aren't efficient in using resources that are already
				scarce. There is stigma about homelessness that perpetuates the problem and we leave so many
				people alone to figure out how to survive on the streets on their own. We have much more to
				say about this topic and you can find what we have to say in our blog posts.
			</p>
			<h2 class='text-2xl text-left font-bold dark:text-slate-50 mt-2'>
				In Need of Help and Prayers
			</h2>
			<p class='mt-4 text-lg text-left dark:text-slate-50'>
				The last thing we'd like to share with you is our need for help - Lisa and I have been
				unable to find work and at times feel like hope is dwindling for us to get out of our
				situation. We want to stop panhandling and replace it with this creative outlet, but that
				requires your help. If you could share this blog with your own personal network of people,
				we would greatly appreciate it. If you have the financial capability to help us out by
				donating in whatever way is convenient for you, we are beyond grateful for you and your
				support. We want to make our lives better and help those who are struggling and your
				contribution allows us to transcend and tackle the problem of homelessness. We are working
				on a store where you can purchase things and offering membership tiers for special access to
				content and more in the near future.
			</p>
			<h2 class='text-2xl text-left font-bold dark:text-slate-50 mt-2'>
				Thank You For Checking Us Out
			</h2>
			<p class='mt-4 text-lg text-left dark:text-slate-50'>
				We appreciate you taking the time to hear our story and learn more about us and
				homelessness. Please reach out to us with any questions, comments, or suggestions for this
				project and we will get back to you as soon as possible. Follow us on social media and
				subscribe to our newsletter for all of the latest updates. Thank you for your support and
				god bless you all who continue to pray for us during these difficult times.
			</p>
		</div>
	</div>
</BaseLayout>
