---
import BaseLayout from '@/layouts/BaseLayout'
import TitlePage from '@/components/TitlePage'
import ContactForm from '@/components/ContactForm'
---

<BaseLayout title='Contact'>
	<TitlePage title='Contact the Weisbums' />
	<h2 class='text-2xl font-bold dark:text-slate-50'>
		Reach out to us to provide feedback, encouragement, or to get support with any issues or
		questions you may have!
	</h2>
	<ContactForm />
</BaseLayout>
