---
import BaseLayout from '@/layouts/BaseLayout'
import TitlePage from '@/components/TitlePage'
---

<BaseLayout title='Donate'>
	<TitlePage title='Make a Donation' />
	<h1>I am the donation page</h1>
</BaseLayout>
