---
import BaseLayout from '@/layouts/BaseLayout'
import TitlePage from '@/components/TitlePage'
import { Image } from 'astro:assets'
import donationImg from '../../public/donationimage.png'
---

<BaseLayout title='Donate'>
	<TitlePage title='Make a Donation' />
	<h1 class='text-2xl font-bold dark:text-slate-50'>
		Your contribution helps us out immensely - we thank you in advance for your help and kindness!
	</h1>
	<hr />
	<div class='relative flex flex-wrap min-w-full text-md text-center text-black'>
		<Image
			src={donationImg}
			class='rounded-md w-full max-h-[300px] md:max-h-[500px] my-8 object-cover'
			alt='Donation page image'
		/>

		<h2 class='text-xl font-semibold dark:text-slate-50 mt-4'>
			We have many different methods in which you can make a financial contribution to support us
			below:
		</h2>
	</div>
	<h1 class='text-2xl font-bold dark:text-slate-50 mt-2'>
		CashApp Donations: <strong class='text-3xl'>$lisaweisbeck4</strong>
	</h1>
	<script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'
	></script><script type='text/javascript'>
		kofiwidget2.init('Support Me on Ko-fi', '#29abe0', 'Z8Z4VJ1VA')
		kofiwidget2.draw()
	</script>
</BaseLayout>
