---
import BaseLayout from '@/layouts/BaseLayout'
import TitlePage from '@/components/TitlePage'
import { Image } from 'astro:assets'
import donationImg from '../../public/donationimage.png'
import Kofi from '@/components/Kofi'
---

<BaseLayout title='Donate'>
	<TitlePage title='Make a Donation' />
	<h1 class='text-2xl font-bold dark:text-slate-50'>
		Your contribution helps us out immensely - we thank you in advance for your help and kindness!
	</h1>
	<hr />
	<div class='relative flex flex-wrap min-w-full text-md text-center text-black'>
		<Image
			src={donationImg}
			class='rounded-md w-full max-h-[300px] md:max-h-[500px] my-8 object-cover'
			alt='Donation page image'
		/>

		<h2 class='text-xl font-semibold dark:text-slate-50 mt-4'>
			We have many different methods in which you can make a financial contribution to support us
			below:
		</h2>
	</div>

	<a
		href='https://cash.app/$lisaweisbeck4'
		class='bg-green-400 hover:bg-emerald-600 focus:bg-green-400 text-white border-black dark:border-white border-solid border-2 rounded-lg font-semibold w-fit px-4 py-2'
		target='_blank'>Send a Cashapp</a
	>

	<a
		href='https://venmo.com/?txn=pay&audience=friends&recipients=@lisaweisbeck4'
		class='bg-blue-400 hover:bg-sky-400 focus:bg-blue-400 text-white border-black dark:border-white border-solid border-2 rounded-lg font-semibold w-fit px-4 py-2 no-underline'
		target='_blank'>Donate on Venmo</a
	>

	<a
		href='https://paypal.me/andrewweisbeck69'
		class='bg-sky-400 hover:bg-blue-600 focus:bg-sky-400 text-white border-black dark:border-white border-solid border-2 rounded-lg font-semibold w-fit px-4 py-2 no-underline'
		target='_blank'>Donate via PayPal</a
	>

	<a
		href='https://patreon.com/andrewweisbeck4?utm_medium=unknown&utm_source=join_link&utm_campaign=creatorshare_creator&utm_content=copyLink'
		class='bg-sky-700 dark:bg-slate-50 text-white dark:text-sky-700 dark:hover:bg-emerald-700 dark:hover:text-white dark:focus:bg-slate-50 dark:focus:text-sky-700 w-fit rounded-lg px-4 py-2 font-semibold hover:bg-emerald-700 focus:bg-sky-700'
		target='_blank'>Support Me on Patreon</a
	>
	<Kofi />
	<a href='https://www.buymeacoffee.com/andrewweisbeck4' target='_blank'
		><img
			src='https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png'
			alt='Buy Me A Coffee'
			style='height: 60px !important;width: 217px !important;'
		/></a
	>
</BaseLayout>
