---
import BaseLayout from '@/layouts/BaseLayout'
import TitlePage from '@/components/TitlePage'
---

<BaseLayout title='Donate'>
	<TitlePage title='The Weisbum Store is Coming Soon!' />
	<h1 class='text-2xl hover:text-slate-50 font-bold mt-2'>
		Stay tuned and follow us to get the latest updates about the Weisbum Shopify Store, coming to a
		browser near you!
	</h1>
</BaseLayout>
